body {
  margin: 0;
  padding-bottom: 5rem;
  margin-top: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}


/*Nickname Modal*/
#myModal{
  position:fixed;
}

.modal { 
  position: fixed; 
  padding-top: 300px; 
  width: 100%; 
  height: 100%; 
  
  display: block;
  z-index: 2; 

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
  
.modal-content {     
  position: relative;
  margin: auto;
  width: 80%;

  animation-name: animatetop;
  animation-duration: 0.4s;

  color: #fff;
}
  
.modal-body {
  border-radius: 2rem; 
  background: rgba(0, 0, 0, 0.15);
}
  
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#nick_form{ 
  padding: 3px; 
  width: 100%;
  display: flex;
} 

#nick_button{ 
  width: 12%; 
  padding: 6px; 

  background: #333; 
  border: none; 
  border-radius: 2rem; 

  outline: none; 
  color: #fff;
}

#nick_input{ 
  margin: 0.25rem; 
  padding: 6px;  
  width:85%; 
  flex-grow: 1; 

  border: none; 
  border-radius: 2rem; 
  
}

#nick_input:focus { 
  outline: none; 
}    


/*List of useers who are online*/

#show_online{
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 

  margin: 0;
  padding: 0.5rem;
  height: 1.5rem; 

  z-index: 1;

  background: rgb(180, 180, 180); 
}


/*User messages*/

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}     

#messages > li { 
  padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
  background: #efefef; 
}


/*User is typing message*/

#user_typing{
  position: fixed; 
  bottom: 3rem; 
  left: 0; 
  right: 0; 

  height: 1rem; 
  padding: 0.5rem 0.75rem 0.75rem;
  margin: 0;

  background: rgba(0, 0, 0, 0.15); 
  backdrop-filter: blur(10px); 

  visibility: hidden;
}


/*message input*/            
#message_form {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 

  padding: 0.25rem; 
  height: 2.75rem; 
  
  display: flex; 

  background: rgba(0, 0, 0, 0.15); 
  backdrop-filter: blur(10px); 
}     

#message_input { 
  margin: 0.25rem; 
  padding: 0 1rem; 

  flex-grow: 1; 
  border: none; 
  border-radius: 2rem; 
  
}      

#message_input:focus { 
  outline: none; 
}      

#message_form > button { 
  margin: 0.25rem; 
  padding: 0 1rem; 
  
  border: none; 
  border-radius: 3px; 

  outline: none; 
  background: #333; 
  color: #fff; 
}
    
